In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
brew = "breweries.csv"
brewdf = pd.read_csv(brew)
brewdf.head()

,id,name,city,state,country,notes,types
0,19730,Brouwerij Danny,Erpe-Mere,NaN,BE,No notes at this time.,Brewery
1,32541,Coachella Valley Brewing Co,Thousand Palms,CA,US,No notes at this time.,"Brewery, Bar, Beer-to-go"
2,44736,Beef 'O' Brady's,Plant City,FL,US,No notes at this time.,"Bar, Eatery"
3,23372,Broadway Wine Merchant,Oklahoma City,OK,US,No notes at this time.,Store
4,35328,Brighton Beer Dispensary (DUPLICATE),Brighton,GB2,GB,Duplicate of https://www.beeradvocate.com/beer...,"Bar, Eatery"

In [3]:
beer = "beers.csv"
beersdf = pd.read_csv(beer)
beersdf.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [4]:
brewdf.dropna()

,id,name,city,state,country,notes,types
1,32541,Coachella Valley Brewing Co,Thousand Palms,CA,US,No notes at this time.,"Brewery, Bar, Beer-to-go"
2,44736,Beef 'O' Brady's,Plant City,FL,US,No notes at this time.,"Bar, Eatery"
3,23372,Broadway Wine Merchant,Oklahoma City,OK,US,No notes at this time.,Store
4,35328,Brighton Beer Dispensary (DUPLICATE),Brighton,GB2,GB,Duplicate of https://www.beeradvocate.com/beer...,"Bar, Eatery"
5,31561,Teddy's Tavern,Seattle,WA,US,No notes at this time.,"Bar, Beer-to-go"
...,...,...,...,...,...,...,...
50339,30980,Zipline Brewing Co,Lincoln,NE,US,No notes at this time.,"Brewery, Bar, Beer-to-go"
50340,23055,Banff Ave. Brewing Co.,Banff,AB,CA,No notes at this time.,"Brewery, Bar, Eatery, Beer-to-go"
50341,24375,The Copper Kettle,Soldotna,AK,US,No notes at this time.,Homebrew
50345,20047,Forest City Wines & Spirits,Middletown,CT,US,No notes at this time.,Store
50346,13986,Landmark Beer Company,Syracuse,NY,US,No notes at this time.,Brewery

In [5]:
beersdf.dropna()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f
6,108605,Icon Sender,22598,CA,US,American Lager,Year-round,5.6,No notes at this time.,f
...,...,...,...,...,...,...,...,...,...,...
358865,258269,Brewers Select #019 High Pressure Lager,28281,WA,US,American Lager,Rotating,4.5,No notes at this time.,f
358868,267703,Collective Project: Gose,32763,ON,CA,Leipzig Gose,Limited (brewed once),5.0,Our Gose is an unfiltered wheat beer made with...,t
358870,187618,RIPTA,34665,RI,US,Belgian Tripel,Rotating,9.5,No notes at this time.,f
358871,283124,Rumble Fish,29238,MI,US,American Imperial IPA,Rotating,8.3,No notes at this time.,f
358872,267484,Joie De Vivre,25032,CA,US,Belgian Saison,Limited (brewed once),6.6,No notes at this time.,t

In [6]:
brewcols = ["id", "name", "city", "state", "country", "types"]
brewclean = brewdf[brewcols].copy()
brewclean.set_index("id", inplace=True)
brewclean.head()

,name,city,state,country,types
id,,,,,
19730,Brouwerij Danny,Erpe-Mere,NaN,BE,Brewery
32541,Coachella Valley Brewing Co,Thousand Palms,CA,US,"Brewery, Bar, Beer-to-go"
44736,Beef 'O' Brady's,Plant City,FL,US,"Bar, Eatery"
23372,Broadway Wine Merchant,Oklahoma City,OK,US,Store
35328,Brighton Beer Dispensary (DUPLICATE),Brighton,GB2,GB,"Bar, Eatery"

In [7]:
beercols = ["id", "name", "brewery_id", "state", "country", "style", "availability", "abv"]
beersclean = beersdf[beercols].copy()
beersclean.set_index("id", inplace=True)
beersclean.head()

,name,brewery_id,state,country,style,availability,abv
id,,,,,,,
202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3
82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4
214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0
320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7
246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1

In [9]:
beersclean.dtypes

name             object
brewery_id        int64
state            object
country          object
style            object
availability     object
abv             float64
dtype: object

In [10]:
connection_string = "postgres:charlie@localhost:5432/Beer"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
engine.table_names()

['breweries', 'beers']

In [12]:
brewclean.to_sql(name='breweries', con=engine, if_exists='append', index=True)

In [13]:
beersclean.to_sql(name='beers', con=engine, if_exists='append', index=True)

In [14]:
pd.read_sql_query('select * from breweries', con=engine).head()

,id,name,city,state,country,types
0,19730,Brouwerij Danny,Erpe-Mere,None,BE,Brewery
1,32541,Coachella Valley Brewing Co,Thousand Palms,CA,US,"Brewery, Bar, Beer-to-go"
2,44736,Beef 'O' Brady's,Plant City,FL,US,"Bar, Eatery"
3,23372,Broadway Wine Merchant,Oklahoma City,OK,US,Store
4,35328,Brighton Beer Dispensary (DUPLICATE),Brighton,GB2,GB,"Bar, Eatery"

In [15]:
pd.read_sql_query('select * from beers', con=engine).head()

,id,name,brewery_id,state,country,style,availability,abv
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3
1,82352,Konrads Stout Russian Imperial Stout,18604,None,NO,Russian Imperial Stout,Rotating,10.4
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1